/****************************************************************************


APP_MENU.RC

produced by Borland Resource Workshop


*****************************************************************************/

#define ACCELERATORS_1	1
#define CM_KEYFILE	101
#define CM_KEYEDIT	102
#define CM_KEYOPTIONS	103
#define CM_KEYWINDOW	104
#define CM_KEYHELP	105
#define CM_OPTIONSTIMER_PAUSE	115
#define CM_EDITUNDO	107
#define MENU_1 1
#define CM_EDITREDO	112
#define CM_WINDOWRESTORE_ALL	120
#define CM_WINDOWMINIMIZE_ALL	119
#define CM_WINDOWCLOSE_ALL	118
#define CM_WINDOWCASCADE	116
#define CM_HELPTOPIC 131
#define CM_HELPABOUT	122
#define CM_HELPCONTENTS	121
#define CM_WINDOWTILE	117
#define CM_MODEKEYBOARD	124
#define CM_MODETIMING	123
#define CM_OPTIONSSTOP	114
#define CM_OPTIONSCONTINUE	113
#define CM_OPTIONSBEGIN	108
#define CM_TOGGLESWITCH	111
#define CM_TOGGLERESET	110
#define CM_TOGGLESET	109
#define CM_EDITCLEAR	106
#define CM_FILEEXIT	105
#define CM_FILESAVE_ALL 130
#define CM_FILESAVE_AS	104
#define CM_FILESAVE	103
#define CM_FILENEW	101
#define CM_FILEOPEN	102
GAME_MENU MENU 
{
 POPUP "&File"
 {
  MENUITEM "&New", CM_FILENEW
  MENUITEM "&Open\tF3", CM_FILEOPEN
  MENUITEM "&Save\tF2", CM_FILESAVE, GRAYED
  MENUITEM "Save file &as", CM_FILESAVE_AS, GRAYED
  MENUITEM "Save a&ll", CM_FILESAVE_ALL, GRAYED
  MENUITEM SEPARATOR
  MENUITEM "E&xit", CM_FILEEXIT
 }

 POPUP "&Edit"
 {
  MENUITEM "&Clear Field", CM_EDITCLEAR
  POPUP "Toggle &Mode"
  {
   MENUITEM "&Set", CM_TOGGLESET
   MENUITEM "&Reset", CM_TOGGLERESET
   MENUITEM "S&witch", CM_TOGGLESWITCH, CHECKED
  }

  MENUITEM SEPARATOR
  MENUITEM "&Undo", CM_EDITUNDO, GRAYED
  MENUITEM "&Redo", CM_EDITREDO, GRAYED
 }

 POPUP "&Options"
 {
  MENUITEM "&Begin\tCtrl+B", CM_OPTIONSBEGIN
  MENUITEM "&Continue\tSpace", CM_OPTIONSCONTINUE
  MENUITEM "&Stop\tCtrl+S", CM_OPTIONSSTOP, GRAYED
  MENUITEM SEPARATOR
  POPUP "&Mode"
  {
   MENUITEM "&Timing", CM_MODETIMING, CHECKED
   MENUITEM "&Keyboard", CM_MODEKEYBOARD
  }

  MENUITEM "&Timer Pause\tCtrl+P", CM_OPTIONSTIMER_PAUSE, GRAYED
 }

 POPUP "&Window", GRAYED
 {
  MENUITEM "&Cascade\tAlt+C", CM_WINDOWCASCADE, GRAYED
  MENUITEM "&Tile\tAlt+T", CM_WINDOWTILE, GRAYED
  MENUITEM SEPARATOR
  MENUITEM "C&lose All\tAlt+L", CM_WINDOWCLOSE_ALL, GRAYED
  MENUITEM "&Minimize All\tAlt+M", CM_WINDOWMINIMIZE_ALL, GRAYED
  MENUITEM "&Restore All\tAlt+R", CM_WINDOWRESTORE_ALL, GRAYED
 }

 POPUP "&Help", GRAYED
 {
  MENUITEM "&Topic", CM_HELPTOPIC, GRAYED
  MENUITEM "&Contents\tF1", CM_HELPCONTENTS, GRAYED
  MENUITEM SEPARATOR
  MENUITEM "&About", CM_HELPABOUT, GRAYED
 }

}
UP_CURSOR CURSOR 
{
'00 00 02 00 01 00 20 20 00 00 08 00 03 00 30 01'
'00 00 16 00 00 00 28 00 00 00 20 00 00 00 40 00'
'00 00 01 00 01 00 00 00 00 00 00 02 00 00 00 00'
'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
'00 00 FF FF FF 00 00 00 00 00 00 00 00 00 00 1F'
'C0 00 00 7F E0 00 00 FF E0 00 01 FF E0 00 01 FF'
'F0 00 03 FF F0 00 07 FF F8 00 07 FF F8 00 0F FF'
'F8 00 0F FF FC 00 0F FF FC 00 0F FF FC 00 1F FF'
'FC 00 0F FF FC 00 15 DF F8 00 11 CC C0 00 11 C0'
'00 00 05 C0 00 00 01 C0 00 00 01 C0 00 00 01 C0'
'00 00 01 C0 00 00 01 C0 00 00 01 40 00 00 00 80'
'00 00 01 C0 00 00 00 00 00 00 00 00 00 00 00 00'
'00 00 00 00 00 00 FF FF FF FF FF E0 3F FF FF 80'
'1F FF FF 00 0F FF FE 00 0F FF FC 00 0F FF FC 00'
'07 FF F8 00 07 FF F0 00 03 FF F0 00 03 FF E0 00'
'03 FF E0 00 01 FF E0 00 01 FF E0 00 01 FF C0 00'
'01 FF C0 00 01 FF C0 00 03 FF C0 00 07 FF C0 13'
'3F FF C0 1F FF FF FC 1F FF FF FC 1F FF FF FC 1F'
'FF FF FC 1F FF FF FC 1F FF FF FC 1F FF FF FC 1F'
'FF FF FC 1F FF FF FE 3F FF FF FF FF FF FF FF FF'
'FF FF FF FF FF FF'
}
DOWN_CURSOR CURSOR 
{
 '00 00 02 00 01 00 20 20 00 00 08 00 03 00 30 01'
 '00 00 16 00 00 00 28 00 00 00 20 00 00 00 40 00'
 '00 00 01 00 01 00 00 00 00 00 00 02 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 FF FF FF 00 00 00 00 00 00 00 00 00 00 1F'
 'C0 00 00 7F E0 00 00 FF E0 00 01 FF E0 00 01 FF'
 'F0 00 03 FF F0 00 07 FF F8 00 07 FF F8 00 0F FF'
 'F8 00 0F FF FC 00 0F FF FC 00 0F FF FC 00 1F FF'
 'FC 00 0F FF FC 00 15 DF F8 00 11 CC C0 00 11 C0'
 '00 00 05 C0 00 00 01 C0 00 00 01 C0 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 FF FF FF FF FF E0 3F FF FF 80'
 '1F FF FF 00 0F FF FE 00 0F FF FC 00 0F FF FC 00'
 '07 FF F8 00 07 FF F0 00 03 FF F0 00 03 FF E0 00'
 '03 FF E0 00 01 FF E0 00 01 FF E0 00 01 FF C0 00'
 '01 FF C0 00 01 FF C0 00 03 FF C0 00 07 FF C0 13'
 '3F FF C0 1F FF FF FC 1F FF FF FC 1F FF FF FE 3F'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF'
}

FIRST_ICON ICON 
{
'00 00 01 00 01 00 20 20 10 00 00 00 00 00 E8 02'
'00 00 16 00 00 00 28 00 00 00 20 00 00 00 40 00'
'00 00 01 00 04 00 00 00 00 00 80 02 00 00 00 00'
'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
'00 00 00 00 80 00 00 80 00 00 00 80 80 00 80 00'
'00 00 80 00 80 00 80 80 00 00 C0 C0 C0 00 80 80'
'80 00 00 00 FF 00 00 FF 00 00 00 FF FF 00 FF 00'
'00 00 FF 00 FF 00 FF FF 00 00 FF FF FF 00 FF FF'
'FF FF FF FF F0 00 00 00 00 00 0F FF FF FF FF FF'
'FF FF FF FF F0 00 00 00 00 00 0F FF FF FF FF FF'
'FF FF FF F0 0F FF FF FF FF F0 0F FF FF FF FF FF'
'FF FF FF F0 0F FF FF FF FF F0 0F FF FF FF FF FF'
'FF FF FF FF FF FF FF FF FF F0 0F FF FF FF FF FF'
'FF FF FF FF FF FF FF FF FF F0 0F FF FF FF FF FF'
'FF FF FF FF FF FF FF FF F0 0F FF FF FF FF FF FF'
'FF FF FF FF FF FF FF FF F0 0F FF FF FF FF FF FF'
'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
'FF FF FF FF FF FF FF FF FF FF F0 0F FF FF FF FF'
'FF FF FF FF FF FF FF FF FF FF F0 0F FF FF FF FF'
'FF FF FF FF FF FF FF FF FF FF FF F0 0F FF FF FF'
'FF FF FF FF FF FF FF FF FF FF FF F0 0F FF FF F0'
'0F FF FF FF FF FF FF FF FF FF FF F0 0F FF FF F0'
'0F FF FF FF FF FF FF FF FF FF FF F0 0F FF FF FF'
'F0 00 00 00 00 00 00 00 00 00 00 00 0F FF FF FF'
'F0 00 00 00 00 00 00 00 00 00 00 00 0F FF FF FF'
'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
'FF FF FF FF F0 00 00 00 00 00 0F FF FF FF FF FF'
'FF FF FF FF F0 00 00 00 00 00 0F FF FF FF FF FF'
'FF FF FF F0 0F FF FF FF FF F0 0F FF FF FF FF FF'
'FF FF FF F0 0F FF FF FF FF F0 0F FF FF FF FF FF'
'FF FF FF FF FF FF FF FF FF F0 0F FF FF FF FF FF'
'FF FF FF FF FF FF FF FF FF F0 0F FF FF FF FF FF'
'FF FF FF FF FF FF FF FF F0 0F FF FF FF FF FF FF'
'FF FF FF FF FF FF FF FF F0 0F FF FF FF FF 00 00'
'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
'00 00 00 00 00 00 00 00 00 00 00 00 00 00'
}
1 VERSIONINFO 
FILEVERSION 1, 0, 0, 0
PRODUCTVERSION 1, 0, 0, 0
FILEOS VOS_DOS_WINDOWS16
FILETYPE VFT_APP
{
 BLOCK "StringFileInfo"
 {
  BLOCK "040904E4"
  {
   VALUE "CompanyName", "My Company\000\000"
   VALUE "FileDescription", "Description from .def file here\000"
   VALUE "FileVersion", "1.00\000\000"
   VALUE "InternalName", "Application name\000"
   VALUE "LegalCopyright", "Copyright © My Company 1993\000\000"
   VALUE "OriginalFilename", ".exe file name here\000"
  }

 }

 BLOCK "VarFileInfo"
 {
  VALUE "Translation", 0x409, 1252
 }

}

ACCELERATORS_1 ACCELERATORS 
{
 "F", CM_KEYFILE, VIRTKEY, ALT
 "E", CM_KEYEDIT, VIRTKEY, ALT
 "O", CM_KEYOPTIONS, VIRTKEY, ALT
 "W", CM_KEYWINDOW, VIRTKEY, ALT
 "H", CM_KEYHELP, VIRTKEY, ALT
}


GAME_MENU ACCELERATORS 
{
 0x42, CM_OPTIONSBEGIN, VIRTKEY, CONTROL
 0x53, CM_OPTIONSSTOP, VIRTKEY, CONTROL
 VK_SPACE, CM_OPTIONSCONTINUE, VIRTKEY
 VK_F3, CM_FILEOPEN, VIRTKEY
 VK_F2, CM_FILESAVE, VIRTKEY
 0x50, CM_OPTIONSTIMER_PAUSE, VIRTKEY, CONTROL
 0x43, CM_WINDOWCASCADE, VIRTKEY, ALT
 0x54, CM_WINDOWTILE, VIRTKEY, ALT
 0x4c, CM_WINDOWCLOSE_ALL, VIRTKEY, ALT
 0x4d, CM_WINDOWMINIMIZE_ALL, VIRTKEY, ALT
 0x52, CM_WINDOWRESTORE_ALL, VIRTKEY, ALT
 VK_F1, CM_HELPCONTENTS, VIRTKEY
}

